<ion-content [fullscreen]="true">
    <ion-card class="seta"></ion-card> 
    <ion-button fill="clear" href="page1" class="Back">
        <ion-icon slot="icon-only" ios="chevron-back-outline" md="settings-sharp"></ion-icon>
      </ion-button>
    
      <h1 class="carrinho">Meu carrinho</h1>
      <ion-card class="Abacate_card"></ion-card>
      <img src="assets/frutas.png" alt="" class="Abacate">
      <h2 class="Frutas">Frutas</h2>
      <h1 class="FrutasValor">$ 50,00</h1>
      <ion-button shape="round" class="Editar" fill="clear">
        Editar
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
      </ion-button>
      <p class="Itens">5 itens</p>
    
      <ion-card class="Chocolate_card"></ion-card>
      <img src="assets/diversos.png" alt="" class="Chocolate">
      <h2 class="Diversos">Diversos</h2>
      <h1 class="ChocoValor">$ 35,40</h1>
      <ion-button shape="round" class="Editar2" fill="clear">
        Editar
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
      </ion-button>
      <p class="Itens2">6 itens</p>
    
      <ion-card class="Carne_card"></ion-card>
      <img src="assets/acougue.png" alt="" class="Carne">
      <h2 class="Acougue">Açougue</h2>
      <h1 class="CarneValor">$ 56,44</h1>
      <ion-button shape="round" class="Editar3" fill="clear">
        Editar
        <ion-icon slot="start" name="pencil-outline"></ion-icon>
      </ion-button>
      <p class="Itens3">3 itens</p>
    
      <ion-card class="Pay_card"></ion-card>
      <ion-button shape="round" class="Pay" fill="outline">
        Pagar agora
      </ion-button>
      <h1 class="Pay_Total">$ 141,84</h1>
      <p class="Totaltxt">Total a pagar</p>
         


</ion-content>
