ion-img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 39px;
    top: 62px;
}

p {
    position: absolute;
    width: 99px;
    height: 24px;
    left: 77px;
    top: 62px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    color: #050609;
}

.user {    
    position: absolute;
    width: 34px;
    height: 34px;
    left: 357px;
    top: 57px;
}

ion-searchbar {
    width: 352px;
    height: 32px;
    top: 124px;
    left: 39px;
    gap: 0px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    
}

.home {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 39px;
    top: 885px;
}

.page1 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 885px;
    left: 152px;
}

.page2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 885px;
    left: 257px;
    gap: 0px;
    opacity: 0px;
}

.page3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 885px;
    left: 362px;
    gap: 0px;
    opacity: 0px;
}

.card-frutas {
position: absolute;
width: 185px;
height: 78px;
left: 20px;
top: 204px;

background: #C5D7B1;
border-radius: 8px;

}

.abacate {
position: absolute;
width: 78px;
height: 78px;
left: 40px;
top: 225px;

}

.frutas {
position: absolute;
width: 67px;
height: 16px;
left: 108px;
top: 245px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #050609;
}

.card-diversos {
position: absolute;
width: 185px;
height: 78px;
left: 218px;
top: 204px;
background: #92B6FA;
border-radius: 8px;
}

.chocolate {
    width: 78px;
    height: 78px;
    top: 226px;
    left: 231px;
    gap: 0px;
    opacity: 0px;
    
}

.card-bebidas {
    left: 218px;
    top: 234px;
    width: 185px;
    height: 78px;
    background: #60F8E9;
    border-radius: 8px;
}

.diversos
{
    position: absolute;
    width: 67px;
    height: 16px;
    left: 303px;
    top: 243px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #050609;
}

.card-acougue
{
    position: absolute;
    width: 185px;
    height: 78px;
    left: 20px;
    top: 294px;

    background: #F0BDB2;
    border-radius: 8px;
}

.frango {
position: absolute;
width: 78px;
height: 78px;
left: 40px;
top: 320px;
}

.acougue {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 110px;
    top: 339px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #050609;
}

.bebida {
    position: absolute;
    width: 56px;
    height: 73px;
    left: 248px;
    top: 320px;
}

.bebidas {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 303px;
    top: 343px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #050609;
}