<ion-content [fullscreen]="true">
    <ion-img src="assets/map-pin 1.png"></ion-img>
    <p>Taboão da Serra, SP</p>
    <ion-img src="assets/user.png" class="user"></ion-img>

<ion-button href="home" size="default" fill="clear" class="home">
  <ion-icon slot="icon-only" ios="home-outline" md="settings-sharp"></ion-icon>
</ion-button>

<ion-button href="page2" size="default" fill="clear" class="page1">
  <ion-icon slot="icon-only" name="search-outline"></ion-icon>
</ion-button>

<ion-button href="page1" size="default" fill="clear" class="page2">
  <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
</ion-button>

<ion-button href="page3" size="default" fill="clear" class="page3">
  <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
</ion-button>

<ion-searchbar placeholder=""> </ion-searchbar>
</ion-content>
