<ion-content>
  <ion-img src="assets/map-pin 1.png"></ion-img>
  <p>Taboão da Serra, SP</p>
  <p class="p2">Seja bem-vindo,</p>
  <h1>Vamos pedir itens fresquinhos para você?</h1>
  <ion-img src="assets/user.png" class="user"></ion-img>
  <p class="p3">Categorias</p>


<div class="retangulo"></div>
<img src="assets/frutas.png" class="frutas_png">
<div class="retangulo2">
<span class="frutas">Frutas</span>
</div>


<div class="retangulo3"></div>
<img src="assets/diversos.png" class="diversos_png">
<div class="retangulo4">
  <span class="diversos">Diversos</span>
</div>


<div class="retangulo5"></div>
<img src="assets/acougue.png" class="acougue_png">
<div class="retangulo6">
  <span class="acougue">Açougue</span>
</div>


<p class="p4">Minhas Compras</p>
<ion-img src="assets/Vector.png" class="imagemFrutas"></ion-img>
<h1 class="frutas1">Frutas</h1>
<p class="frutas2">27/05/2024</p>
<h1 class="preco1">$ 50,00</h1>
<p class="itens1">5 itens</p>




<ion-img src="assets/Vector2.png" class="imagemDiversos"></ion-img>
<h1 class="diversos1">Diversos</h1>
<p class="diversos2">20/05/2024</p>
<h1 class="preco2">$ 35,40</h1>
<p class="itens2">6 itens</p>


<ion-img src="assets/Vector3.png" class="imagemAcougue"></ion-img>
<h1 class="acougue1">Açougue</h1>
<p class="acougue2">20/05/2024</p>
<h1 class="preco3">$ 56,44</h1>
<p class="itens3">3 itens</p>


<ion-button href="home" size="default" fill="clear" class="home">
  <ion-icon slot="icon-only" ios="home-outline" md="settings-sharp"></ion-icon>
</ion-button>

<ion-button href="page2" size="default" fill="clear" class="page1">
  <ion-icon slot="icon-only" name="search-outline"></ion-icon>
</ion-button>

<ion-button href="page1" size="default" fill="clear" class="page2">
  <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
</ion-button>

<ion-button href="page3" size="default" fill="clear" class="page3">
  <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
</ion-button>

</ion-content>