<ion-content>
  <ion-img src="assets/map-pin 1.png"></ion-img>
  <p>Taboão da Serra, SP</p>
  <p class="p2">Seja bem-vindo,</p>
  <h1>Vamos pedir itens fresquinhos para você?</h1>
  <ion-img src="assets/user.png" class="user"></ion-img>
  <p class="p3">Categorias</p>

<div class="retangulo"></div>
<img src="assets/frutas.png" class="frutas_png">
<div class="retangulo2">
<span class="frutas">Frutas</span>
</div>

<div class="retangulo3"></div>
<img src="assets/diversos.png" class="diversos_png">
<div class="retangulo4">
  <span class="diversos">Diversos</span>
</div>

</ion-content>
