
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<ion-content>
<ion-img src="assets/home-image.png"></ion-img>
<div>
  <h1>Entregamos mantimentos à sua porta</h1>
  <p>A mercearia oferece vegetais e frutas frescas. Encomende itens frescos na mercearia.</p>
  <ion-button href="page1">
    <span>
    INICIAR
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
    </span>
  </ion-button>
</div>
</ion-content>
